@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Post Haste Waste Removal</h1>
    <h2 class="card-subtitle">We refuse to waste your time</h2>
    <p>Please <a class="btn-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="btn-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a> to continue.</p>
</div>
